* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #222;
}

#menu ul {
    background: #7FFFD4;
    list-style-type: none;
    text-align: center;
    
}

#menu li {
    color: darkblue;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: antiquewhite;
    position: relative;
}

#menu ul li a {
    color: darkmagenta;
    text-decoration: none;
    display: block; 
}

#menu ul li a:hover {
    background: #F1F1F1;
    color: #0C0A0A;
}
.sub-menu li{
    display: none;
    
}
.sub-menu {
    display: none;
    position: absolute;
}
#menu li:hover .sub-menu{
    display: block;
}