*{
    box-sizing: border-box;
    margin: auto;
}
#main{
    width: 800px;
    height: 1000px;
    border: 1px solid black;
    background-image: url(../image/background.jpg);
    background-size: 397px 430px;
    background-repeat: repeat;
}
header{
    margin-top: 13px;
    width: 97%;
    height: 130px;
    /* border: 1px solid black; */
}
nav{
    width: 24%;
    height:798px;
    /* border: 1px solid black; */
    float: left;
    margin-top: -6px;
    border-right: 3px solid rgba(17, 156, 17, 0.671);
}
section{
    width: 73%;
    height: 798px;
   /* border: 1px solid green; */
    float: right ;
    margin-right: 12px;
}
footer{
    width: 97%;
    height: 50px;
    border-top: 5px double rgba(17, 156, 17, 0.671);
    clear: both;
    text-align: center;
}


#main3, #main4{
    /* position: relative; */
    /* top: 100px; */
    width: 85%;
    margin-top: 10px;
    height: 23%;
    /* border: 1px solid rgb(210, 45, 45); */
    float: left;
}
article{
    position: relative;
    /* top:-100px; */
    width: 28%;
    height: 52%;
    float: right;
}
#img1{
    width:79%;
    height: 110px;
}
#img2{

    margin-top: 13px;
    width: 100%;
    height: 100%;
    vertical-align: text-top;
}
#divnav{
    margin:4.5px 10px 10px 14px;
    width: 150px;
    height: 180px;
    /* border: 3px solid rgb(212, 219, 225);   */
    
    background-color: aliceblue;
    
    box-shadow: 2px 2px 0px rgb(156, 161, 165),
    4px 4px 0px rgb(156, 161, 165),
    5px 5px 0px rgb(212, 219, 225),
    -2px -2px 0px rgb(212, 219, 225),
    -4px -4px 0px rgb(212, 219, 225),
    -4px -4px 0px rgb(212, 219, 225),
                6px 6px 1px rgb(189, 196, 202),
                9px 9px 1px rgb(105, 109, 112)

    ;
    

}
.navli{
    position: relative;
    list-style-type: none;
    color: rgb(156, 0, 253);
    width: 120%;
    height: 36px;
    left: -36px;
    padding-top: 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sech1{
    position: relative;
    background-color: rgb(1, 155, 1);
    width: 74%;
    left: -75px;
    top: -5.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    letter-spacing: 7px;
}
#main3h1, #main4h1{
    background-color: rgb(1, 155, 1);
    width: 60%;
    /* height: 30px; */
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    /* letter-spacing: 10px; */
}
#seci{
    padding: 40px;
}
.secp{
    /* position: relative; */
    color: aliceblue;
    text-align: justify;
    font-size: 12px;
    left: -35px;

}
#main3ul, #main4ul{
    /* margin-top: 20px; */
    padding-top: 50px;
}
.main3li, .main4li{
    width: 90%;
    text-align: justify;
    font-size: 15px;
    color: aliceblue;
    float: left;
    margin: 4px;
}

#divp{
   /* padding: 0px 20px 0 0; */
    margin-top: 10px;
    /* border: 1px rgb(0, 255, 191) solid; */
    float: left;
    width: 70%;
}
#divp2{
    float: left;
    /* border: 1px rgb(0, 255, 191) solid; */
}
#footerp{
    color: aliceblue;
    padding: 15px;
}
a{
    color: rgb(156, 0, 253);
    text-decoration: none;
}
