*{
    box-sizing: border-box;
    margin: auto;
}
#main{
    width: 1000px;
    height: 650px;
    /* background-color: rgb(135, 198, 250); */
    border: 1px solid black;
    /* background: linear-gradient(0deg, rgba(3, 139, 250, 0.904), rgb(160, 212, 255) 60%); */
  
}
header{
    position: relative;
    background-color: rgba(41,78,121,255);
    border: 1px dotted darkblue;
    width: 100%;
    height: 100px;
}
section{
    position: relative;
    border: 1px dotted rgb(11, 25, 184);
    width: 100%;
    height: 499px;
}
footer{
    border: 1px dotted darkgoldenrod;
    width: 100%;
    height: 50px;
    background-color: rgba(41,78,121,255);
    text-align: left;
    

}
article{
    position: absolute;
    top: 40px;
    right: 10px;
    border: 1px dotted darkgoldenrod;
    width: 30%;
    height: 80%;
    background-color: rgba(80, 83, 86, 0.079);
    
}
#heaimg1{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 70px;
    height: 70px;
}
#heaH1{
    position: absolute;
    top: 15px;
    left: 100px;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#heap1{
    position: absolute;
    top: 50px;
    left: 95px;
    color: aliceblue;

}
#heaul{
    position: absolute;
    right: 20px;
    bottom: 0;
}
.heali{
    list-style-type: none;
    display: inline-flex;
    padding: 10px;
    margin-left: 20px;
    height: 40px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(82,105,189,255);
}
#search{
    position: absolute;
    right: 80px;
    top: 10px;
    border: 1px solid rgba(82,105,189,255);
    background-color: rgba(37,47,87,255);
    color: aliceblue;
}
#go{
    position: absolute;
    right: 20px;
    top: 10px;
    border: 1px solid rgba(82,105,189,255);
    background-color: rgba(37,47,87,255);
}
#go,#search::-webkit-input-placeholder{
    color: aliceblue;
}
#artimg{
    
    width: 90%;
    height: 100px;
    border: 1px solid rgba(113, 113, 113, 0.362);
    padding: 2px;
    margin: 15px;
    
}
#arth2{
    border-bottom: 2px dashed rgb(113, 113, 113);
    margin: 15px;
    padding: 14px 15px 15px 0;
    color: rgb(113, 113, 113) ;
}
#artp1{
    margin: 0 15px 0 15px;
    color: rgb(113, 113, 113) ;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    text-align: justify;
}
#artp2{
    color: rgba(82,105,189,255);
    font-weight: 600;
    text-align: right;
}
#fooi{
 color: aliceblue;
}
#foop
{
 color: rgba(82,105,189,255);
 padding: 15px;
}
#sech2{
    width: 65%;
    border-bottom: 2px dashed rgb(113, 113, 113);
    margin: 15px;
    padding: 14px 15px 15px 0;
    color: rgb(113, 113, 113) ;
}
#divsec1{
    width: 350px;
    height: 400px;
    /* border: 1px solid black;  */
    float: left;
    margin: 10px;
}
#divsec1p{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: 500;
    text-align: justify;
    text-shadow: 1px 1px 5px greenyellow;
    font-size: 14px;
}
#divsec2{
    position: relative;
    width: 300px;
    height: 400px;
    /* border: 1px solid black;  */
    float: left;
    margin: 10px;

}
#divsec2h2{
    
    width: 90%;
    border-bottom: 2px dashed rgb(113, 113, 113);
    /* margin: 10px; */
    padding: 0px 15px 15px 0;
    color: rgb(113, 113, 113) ;
    float: left;

}
#divsec2p1{
    clear: both;
    margin: 15px 15px 45px 0px;
    padding-top: 15px;
    color: rgb(113, 113, 113) ;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    /* text-align: justify; */
    

}
#divsec2p2{
    margin: 25px 15px 15px 0px;
    color: rgb(113, 113, 113) ;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;

}
#divsec2p3{
    margin: 15px 15px 15px 0px;
    color: rgb(113, 113, 113) ;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;

}
td{
    padding-top: 20px;
}
#message{
    background-color: rgba(80, 83, 86, 0.079);
    border: 1px solid rgba(80, 83, 86, 0.079);
}   
#name, #email, #telephone, #Subject{
    border: 1px solid rgba(80, 83, 86, 0.079);
    background-color: rgba(80, 83, 86, 0.079);
}
#Submit, #Reset{
    size: 20px;
    border: 1px solid rgba(80, 83, 86, 0.079);
    background-color: rgba(80, 83, 86, 0.079);

}

summary{
    list-style-type: none;

}